<a href="https://colab.research.google.com/github/yp6969/Advanced-Software-Development-school-project/blob/main/nadav_parse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import re
# ascii_grid = np.loadtxt("control.asc", skiprows=6)
output = ""
with open("control.asc", 'r') as f:
  output = f.read()
  print(output)

Series_1_2
Sweep #,       Max[A],     Ampl2[V],    C-slow[F], R-series[Ohm]
      1,  -2.1000E-10,  -1.0000E-01,   8.0585E-12,   3.0022E+07
      2,  -2.0922E-10,  -9.0000E-02,   8.0585E-12,   3.0022E+07
      3,  -1.9060E-10,  -8.0000E-02,   8.0585E-12,   3.0022E+07
      4,  -1.6853E-10,  -7.0000E-02,   8.0585E-12,   3.0022E+07
      5,  -1.5007E-10,  -6.0000E-02,   8.0585E-12,   3.0022E+07
      6,  -1.2159E-10,  -5.0000E-02,   8.0585E-12,   3.0022E+07
      7,  -1.0125E-10,  -4.0000E-02,   8.0585E-12,   3.0022E+07
      8,  -6.7601E-11,  -3.0000E-02,   8.0585E-12,   3.0022E+07
      9,  -2.5037E-11,  -2.0000E-02,   8.0585E-12,   3.0022E+07
     10,   2.3942E-11,  -1.0000E-02,   8.0585E-12,   3.0022E+07
     11,   9.5142E-11,   0.0000E+00,   8.0585E-12,   3.0022E+07
     12,   1.7745E-10,   1.0000E-02,   8.0585E-12,   3.0022E+07
     13,   2.5945E-10,   2.0000E-02,   8.0585E-12,   3.0022E+07
     14,   4.1938E-10,   3.0000E-02,   8.0585E-12,   3.0022E+07
     15,   6.0325E-10,   4.0000E-02,   8.0585E-12,   3.0022E+07
     16,   8.5127E-10,   5.0000E-02,   8.0585E-12,   3.0022E+07
     17,   1.1553E-09,   6.0000E-02,   8.0585E-12,   3.0022E+07


 x =  <re.Match object; span=(87, 97), match='2.1000E-10'>
 y =  ['2.1000E-10', '1.0000E-01', '8.0585E-12', '3.0022E+07', '2.0922E-10', '9.0000E-02', '8.0585E-12', '3.0022E+07', '1.9060E-10', '8.0000E-02', '8.0585E-12', '3.0022E+07', '1.6853E-10', '7.0000E-02', '8.0585E-12', '3.0022E+07', '1.5007E-10', '6.0000E-02', '8.0585E-12', '3.0022E+07', '1.2159E-10', '5.0000E-02', '8.0585E-12', '3.0022E+07', '1.0125E-10', '4.0000E-02', '8.0585E-12', '3.0022E+07', '6.7601E-11', '3.0000E-02', '8.0585E-12', '3.0022E+07', '2.5037E-11', '2.0000E-02', '8.0585E-12', '3.0022E+07', '2.3942E-11', '1.0000E-02', '8.0585E-12', '3.0022E+07', '9.5142E-11', '0.0000E+00', '8.0585E-12', '3.0022E+07', '1.7745E-10', '1.0000E-02', '8.0585E-12', '3.0022E+07', '2.5945E-10', '2.0000E-02', '8.0585E-12', '3.0022E+07', '4.1938E-10', '3.0000E-02', '8.0585E-12', '3.0022E+07', '6.0325E-10', '4.0000E-02', '8.0585E-12', '3.0022E+07', '8.5127E-10', '5.0000E-02', '8.0585E-12', '3.0022E+07', '1.1553E-09', '6.0000E-02', '8.0585E-12', '3.0022E+07']

In [12]:

x = re.search("[0-9]+.[0-9]+E[-+][0-9][0-9]", output) 
y = re.findall("[0-9]+.[0-9]+E[-+][0-9][0-9]", output) 


print(" x = ", x)
print(" y = ", y)

 x =  <re.Match object; span=(87, 97), match='2.1000E-10'>
 y =  ['2.1000E-10', '1.0000E-01', '8.0585E-12', '3.0022E+07', '2.0922E-10', '9.0000E-02', '8.0585E-12', '3.0022E+07', '1.9060E-10', '8.0000E-02', '8.0585E-12', '3.0022E+07', '1.6853E-10', '7.0000E-02', '8.0585E-12', '3.0022E+07', '1.5007E-10', '6.0000E-02', '8.0585E-12', '3.0022E+07', '1.2159E-10', '5.0000E-02', '8.0585E-12', '3.0022E+07', '1.0125E-10', '4.0000E-02', '8.0585E-12', '3.0022E+07', '6.7601E-11', '3.0000E-02', '8.0585E-12', '3.0022E+07', '2.5037E-11', '2.0000E-02', '8.0585E-12', '3.0022E+07', '2.3942E-11', '1.0000E-02', '8.0585E-12', '3.0022E+07', '9.5142E-11', '0.0000E+00', '8.0585E-12', '3.0022E+07', '1.7745E-10', '1.0000E-02', '8.0585E-12', '3.0022E+07', '2.5945E-10', '2.0000E-02', '8.0585E-12', '3.0022E+07', '4.1938E-10', '3.0000E-02', '8.0585E-12', '3.0022E+07', '6.0325E-10', '4.0000E-02', '8.0585E-12', '3.0022E+07', '8.5127E-10', '5.0000E-02', '8.0585E-12', '3.0022E+07', '1.1553E-09', '6.0000E-02', '8.0585E-12', '3.0022E+07']

In [13]:
len(y)

68

In [14]:
y = y[::4]
y
# y = np.array(y)

['2.1000E-10',
 '2.0922E-10',
 '1.9060E-10',
 '1.6853E-10',
 '1.5007E-10',
 '1.2159E-10',
 '1.0125E-10',
 '6.7601E-11',
 '2.5037E-11',
 '2.3942E-11',
 '9.5142E-11',
 '1.7745E-10',
 '2.5945E-10',
 '4.1938E-10',
 '6.0325E-10',
 '8.5127E-10',
 '1.1553E-09']

In [1]:
z = [a*10**12 for a in y]

NameError: ignored

In [ ]:
import pandas as pd

In [18]:
df = pd.DataFrame(y)

In [19]:
df

             0
0   2.1000E-10
1   2.0922E-10
2   1.9060E-10
3   1.6853E-10
4   1.5007E-10
5   1.2159E-10
6   1.0125E-10
7   6.7601E-11
8   2.5037E-11
9   2.3942E-11
10  9.5142E-11
11  1.7745E-10
12  2.5945E-10
13  4.1938E-10
14  6.0325E-10
15  8.5127E-10
16  1.1553E-09